*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(55, 52, 52);
    color: white;
    
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #353636;
    
}

nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 30px;
}

nav ul li a{
    text-decoration: none;
   color: white;
   font-size: 1.5rem;
}

nav ul li a:hover{
    color: rgb(39, 236, 167);
    font-size: 1.1rem;
    
}

.left img {
    width: 30vw;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 90px;
    
}
.firstSection > div{
    width: 40%;
}
.leftSection{
    font-size: 2.5rem;
    
}

.leftSection .buttons{
    padding: 50px 0;
}

.leftSection .btn {
    padding: 12px;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(39, 236, 167);
}

.rightSection img{
    width: 90%;
}

 .secondSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;

}

.leftSection img{
    width: 70%;
}

.secondSection p{
    font-size: 20px;
    padding: 2% 0;
}

.secondSection > div{
    width: 50%;
}
.rightSection{
    font-size: 1.5rem;
}
.rightSection p{
    font-size: 1.5rem;
}

h2.tab-links.active-link {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.tab-links{
    margin: 12px;   
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: rgb(39, 236, 167);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}


.tab-content ul li {
    margin: 10px 0;  
}
.tab-content ul li span{
    color: rgb(39, 236, 167);
    font-size: 14px;
} 

.contact-left{
    width: 40%;
    margin: 0 5%;
}
.contact-right {
    width: 40%;
    margin: 0 50%;
    margin-top: -16%;
}
.contact-left h1{
    font-size: 2rem;
    margin: 0 5%;
}
.contact-left p{
    margin-top: 30px;
    font-size: 1.5rem;
}
.contact-left p i{
    color: rgb(39, 236, 167);
    margin-right: 15px;
    font-size: 25px;
    cursor: pointer;
}

.social-icons {
    display: flex;
    justify-content:baseline;
    margin: 0 62vw;
}

.social-icons li {
    margin-right: 15px;
}

.social-icons a {
    text-decoration: none;
    font-size: 24px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: rgb(39, 236, 167);
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background-color: rgb(39, 236, 167);
    border-radius: 6px;
}
button.btn.btn2 {
    padding: 14px 40px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.red{
    color: rgb(39, 236, 167);
}
footer{
    background-color: #353636;
    
  
}
.footer{ 
    display: flex;
    padding: 25px 120px;
}

h2 {
    margin-top: -25px;
}

footer ul{
    list-style: none;
}

.footer > div{
    width: 225px;
}

hr {
    border: 0;
    background: gray;
    height: 1px;
}

footer .footer-rights{
    text-align: center;
    color: #ababab;
    padding: 15px 0;
}

.first{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;

}
.left {
    width: 50%;
}

.left h1 {
    margin: 2%;
}

.first p{
    font-size: 1.5rem;
    padding: 2% 2%;
}

.first > div{
    width: 50%;
}
.righ{
    width: 50%;
    
}
.right h2 {
    font-size: 2rem;
}

















